<div class="container">
	<h1>Japan/Korea Experience</h1>

		<div class="pic-row">
			<div class="left-pic">
		        <p>
		        	A Yukata is a traditional Japanese robe to be warn in the summer time.  I was able to go with some Japanese friends and explore Kyomizu-tera in the historical district of Japan's ancient capital, Kyoto.
		        </br>
		        	日本に留学中、浴衣を着て清水寺に参詣しました。日本の人達が何回も僕と写真を一緒に撮って欲しいと頼んできてくれてとても楽しかったし、良い経験だった！
						</p>
			</div>
		  <div class="right-pic">
    		<%= image_tag("kimono.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

		<div class="pic-row">
			<div class="right-pic">
		        <p>
		        	Kinkakuji, literally "the Golden Pavilion", is one of the most well known historical buildings in Asia.  Centuries old and plated in gold, every Japanese person will visit this cultural landmark at least once in their life.
		        </br>
		        私にとって、金閣寺は日本の歴史的建造物の中で一番興味のある寺です。金閣寺が最初に建てられたのは1397年ですが、1955年に全面復元工事が行われました。金閣寺は、京都の見所の一つだと思います。
						</p>
			</div>
		  <div class="left-pic">
    		<%= image_tag("kinkakuji.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

		<div class="pic-row">
			<div class="left-pic">
		        <p>
		        	Spending several weeks in Korea, I was impressed by the massiveness of Seoul, and the beauty of the Han River that runs through the city.  This is a must-see for any visitors to the Korean Peninsula.
		        </br>
		        大学のクリスマス休みには、韓国のソウルに旅行しました。友達と遊んだり、色々な文化遺産を見たりしました。漢江は韓国・ソウルを流れる川で、私の一番好きな川のひとつです。
						</p>
			</div>
		  <div class="right-pic">
    		<%= image_tag("han_river.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

		<div class="pic-row">
			<div class="right-pic">
		        <p>
		        	The Japanese are <strong>NUTS</strong> about baseball ('besuboru').  This is a picture I took while attending a game of the local team, the Hanshin Tigers. It is a tiring experience; for the 4+ hours you are expected to be on your feet cheering for the home team. Fortunately there was plenty of beer on tap :)
		        </br>
		        関西外国語大学に留学中、阪神タイガースの試合に二回行きました。今までこういった経験がありませんでした！
						</p>
			</div>
		  <div class="left-pic">
    		<%= image_tag("hanshin.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

</div>