<div class="container">
	<h1>"My Experience in Japan and Korea"</h1>

		<div class="pic-row">
			<div class="left-pic">
		        <p>
		        	A Yukata is a traditional Japanese robe to be warn in the summer time.  I was able to go with some Japanese friends and explore Kyomizu-tera in the historical district of Japan's ancient capital, Kyoto.
						</p>
			</div>
		  <div class="right-pic">
    		<%= image_tag("kimono.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

		<div class="pic-row">
			<div class="right-pic">
		        <p>
		        	Kinkakuji, literally "the Golden Pavilion", is one of the most well known historical buildings in Asia.  Centuries old and plated in gold, every Japanese person will visit this cultural landmark at least once in their life.
						</p>
			</div>
		  <div class="left-pic">
    		<%= image_tag("kinkakuji.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

		<div class="pic-row">
			<div class="left-pic">
		        <p>
		        	Spending several weeks in Korea, I was impressed by the massiveness of Seoul, and the beauty of the Han River that runs through the city.  This is a must-see for any visitors to the Korean Peninsula.
						</p>
			</div>
		  <div class="right-pic">
    		<%= image_tag("han_river.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

		<div class="pic-row">
			<div class="right-pic">
		        <p>
		        	The Japanese are <strong>NUTS</strong> about baseball ('besuboru').  This is a picture I took while attending a game of the local team, the Hanshin Tigers. It is a tiring experience; for the 4+ hours you are expected to be on your feet cheering for the home team. Fortunately there was plenty of beer on tap :)
						</p>
			</div>
		  <div class="left-pic">
    		<%= image_tag("hanshin.jpg", :alt => "Whoops!! :/") %>
    	</div>
		</div>

</div>