<div class="container">

    <h1>"Web development... My story"	</h1>

    <div class="main">
    	<div class="left-column">
	        <p>
	        	I am a 24 year old recent graduate of the University of Arkansas.  Though I am young, I have a drive to learn that gives me a constant drive to educate myself.  Currently I am attempting to increace my web-development and coding skills through use of Ruby on Rails, Javascript, and HTML/CSS. This my my first attempt at a website, so while there might be a few bugs/issues, my development skills should only get better from here!  My goal is to become a full stack developer with knowledge of all aspects of web design.  
	        	</br>
	        	I have a slew of interests that include reading good books, studying interesting subject matter, and meeting new people. Any questions or observations please feel free to send me a message. <button type="button" class="btn btn-primary">Contact me</button> 
			</p>

<%= render 'layouts/list' %>

		</div>

      	<div class="right-column">
      		<%= image_tag("formal_pic_reworked.jpg", :alt => "rss feed" ) %>
      	</div>

	<div id="body">
		<div id="feedControl">Loading...</div>
	</div>
	</div>
</div>
