<div class="container">
	<h1>Some formal projects that I've worked on</h1>
		<div class="row-full">
			<h3 class="underline">Inbound Freight Smoothing Project</h3>
			<ul>
				<li>Goal: To smooth the flow of inbound freight </li>
				<li>Role: Wal-Mart Inbound strategy team</li>
				<li>Timeframe: Summer 2011</li>
				<li>Tools: Business Intelligence, Microsoft Access/Excel. VBA </li>
			</ul>
			<p>Here are the basics of the project:</p>

			<div class="panel panel-default">
			  <div class="panel-heading">Panel here</div>
			  <div class="panel-body">
			    <ul>Statics:
					<li>Goals</li>
					<li>Roles</li>
					<li>Timeframes</li>
					<li>Tools</li>
				</ul>
			 </div>
</div>
		</div>

		<div class="row-full">
			<h3 class="underline">Lead Time Syncronization Project</h3>
			<ul>
				<li>Goal: Implement of a new system of syncronized lead times across the organization</li>
				<li>Role: Sam's Club Logistics Strategy team</li>
				<li>Timeframe: Summer 2012</li>
				<li>Tools: Teradata/SQL, Microsoft Access/Excel. VBA </li>
			</ul>
			<p>Here are the basics of the project:</p>
		</div>

		<div class="row-full">
			<h3 class="underline">International Comparisson: The Drivers of Stockouts in Japan and America</h3>
			<ul>
				<li>Goal: Use data collected from supermakets in Japan and American in an attempt to compare the causes of Out of Stock in these two countries</li>
				<li>Role: Graduation thesis, University of Arkansas</li>
				<li>Timeframe: 2013/2014</li>
				<li>Tools: Regression analysis software, Microsoft Excel </li>
			</ul>
			<p>Here are the basics of the project:</p>
		</div>
</div>