	<div class="container">
		<div class="resume">
		<h1>Evan Sitzes</h1>
	</br>
		<span class="label label-default">Education</span>
	</br>
		<span class="label label-default">Education</span>
	</br>
		<span class="label label-default">Education</span>
	</br>
		<span class="label label-default">Education</span>
		</div>
	</div>