<% provide(:title, "Resume") %>

<div class="container">

	<div class="resume-head">
		<h1>Evan Sitzes</h1>
		<ul class="resume-nav"> 
			<li>479-422-8204  ▪</li>
			<li>esitzes42@yahoo.com  ▪</li>
			<li>Seattle, WA  </li>
		</ul>
	</div>
	</br>

	<div class="resume-body">


			<span class="label label-default label-last">Technical Experience</span>
			<div class="resume-section">
				<div class="title"><h5>Summary of Qualifications</h5></div>
				
				<div class="info">
					<ul>
						<li><b>Languages: </b> Java, Ruby, Javascript/jQuery, C++, HTML/CSS, Python, VB</li>
						<li><b>Tools/Tech: </b> MySQL, Git, Spring, Maven, Rails, JUnit/Mockito/RSpec, IntelliJ, Android, SAP/SAP BW, Teradata, Microsoft Office applications (Excel / Access / SQL Server)</li>
						<li><b>Spoken Languages: </b> Conversational in spoken and business Japanese; N3 level JLPT proficiency. Basic Korean and Chinese skill level</li>
						<li>一年間関西外国語大学で交換留学    日本語能力試験三級取得</li>
					</ul>
				</div>
			
			</div>
		</br>
		
			<span class="label label-default">Education</span>
			<div class="resume-section">
				<div class="title"><h5>University of Arkansas, Sam M. Walton College of Business</h5>
													<h6>Magna Cum Laude, Bachelor of Science in International Business</h6></div>
				<div class="date"> <h5>Graduated May 2013</h5>
													<h6>GPA: 3.87</h6></div>
				<div class="info">
					<ul>
						<li>Major: Supply Chain Management 	</li>
						<li>Minors: ERP, Economics, and Japanese</li>
					</ul>
				</div>
				<div class="title"><h5>Japanese Study Abroad/Exchange Program</h5></div>
				<div class="date"> <h5>Summer 2010 and Fall 2011-Spring 2012</h5></div>
				<div class="info">
					<ul>
						<li>Studied 9 months at Kansai Gaidai University in Osaka, Japan and took classes in Japanese language, business, and economics</li>
						<li>Visited businesses such as Toyota, Hitachi, and Wal-Mart Japan to discuss and view business practices unique to Japan</li>
						<li>Toured manufacturing plants and distribution centers, and studied business processes such as lean manufacturing  </li>
						<li>Spent five weeks in Japan interacting with locals and enhancing language abilities through immersion</li>
						<li>Experienced firsthand and studied local customs, and gained a deeper understanding of Japanese culture</li>
					</ul>
				</div>
			</div>
		</br>

			
			<span class="label label-default">Work Experience</span>
			<div class="resume-section">

				<div class="title"><h5>Software Engineer I | Datarank/Simply Measured</h5></div>
				<div class="date"> <h5>November 2015-Present</h5></div>
				<div class="info">
					<ul>
						<li>Back end data collection (Java) through web APIs/crawling. Build new datasources, maintaine existing datasources and ensure data integrity</li>
						<li>Work with other devs to design, build, and maintain new Java services in our stack for data collection/processing</li>
						<li>Create and maintain Javascript that we provide customers to track social interaction on their site</li>
					</ul>
				</div>

				<div class="title"><h5>Client Services Analyst | Datarank/Simply Measured</h5></div>
				<div class="date"> <h5>November 2014-November 2015</h5></div>
				<div class="info">
					<ul>
						<li>Work with clients and internal customers to produce reporting around social listening and find actionable insights in online conversation</li>
						<li>Developing Ruby scripts to automate the pulling and modeling of data from Datarank's API in order to assist with data analysis and to decrease the need for manual processing of data</li>
						<li>Creating a process for automated report generation to assist the Client Services team in creating quicker, easier and more standardized reporting in order to help our team scale as the company grows and brings on new clients</li>
					</ul>
				</div>

				<div class="title"><h5>Business Process Specialist | International Paper</h5></div>
				<div class="date"> <h5>June 2013-November 2014</h5></div>
				<div class="info">
					<ul>
						<li>Managed issues in SAP on a daily basis and assisted both internal users and external customers in solving business related problems for the world’s largest paper and pulp company</li>
						<li>Gained workable knowledge on different aspects of International Paper’s supply chain, such as planning, order management, manufacturing, export, and transportation</li>
						<li>Responsible for sustaining and evolving supply chain processes through participation in root cause and export sub-task teams</li>
					</ul>
				</div>

				<div class="title"><h5>Wal-Mart Inbound Logistics Strategy Intern | Sam’s Club Logistics/Wal-Mart Transportation</h5></div>
				<div class="date"> <h5>Summers 2011 / 2012</h5></div>
				<div class="info">
					<ul>
						<li>Designed, planned, and implemented logistics projects that saved the company $3.5M</li>
						<li>Analyzed large amounts of data and created queries for Wal-Mart’s Teradata database. Extensively used Microsoft Excel and Access to create VBA driven models to automate business processes such as lead time synchronization and shipping volume optimization</li>
						<li>Worked on cross-functional teams and gained experience collaborating with members of other departments</li>
					</ul>
				</div>

				<div class="title"><h5>Fleet Manager | JB Hunt</h5></div>
				<div class="date"> <h5>Summer 2010-Spring 2011</h5></div>
				<div class="info">
					<ul>
						<li>Maintained communication with 250+ drivers and resolved any issues that arose to ensure timeliness of deliveries</li>
						<li>Worked to transmit company needs to drivers; constantly multitasked by communicating with several drivers at once</li>
						<li>Strove to maintain driver retention and balance the personal needs of the drivers with the goals of the company</li>
					</ul>
				</div>

				<div class="title"><h5>Supplemental Instructor | University of Arkansas, Department of Economics</h5></div>
				<div class="date"> <h5>2009-2010</h5></div>
				<div class="info">
					<ul>
						<li>Developed multiple weekly meetings with 50+ students to teach and reinforce understanding of microeconomic concepts</li>
						<li>Utilized interpersonal skills to communicate with a variety of different students and lead group discussions</li>
					</ul>
				</div>
			</div>
		</br>


			<span class="label label-default label-last">Leadership Experience</span>
			<div class="resume-section resume-last">
				<div class="title"><h5>Vice President | Transportation and Logistics Association</h5></div>
				<div class="date"> <h5>Fall 2010-Spring 2011</h5></div>
				<div class="info">
					<ul>
						<li>Contacted local companies to solicit participation in organizational events designed to bring together students and business leaders to promote networking opportunities and knowledge transfers on a variety of subjects</li>
						<li>Collected students’ resumes and ensure availability for viewing by businesses in the University’s Supply Chain Center</li>
					</ul>
				</div>
				<div class="title"><h5>Treasurer | Japanese Student Association </h5></div>
				<div class="date"> <h5>Fall 2010-Spring 2011</h5></div>
				<div class="info">
					<ul>
						<li>Plan and coordinate events to promote cross-cultural learning among students</li>
						<li>Responsible for maintaining financial records, creating bi-annual budgets, and managing $500+ in organizational funds</li>
					</ul>
				</div>
				<div class="title"><h5>Risk Management Committee Chairman | Sigma Pi Fraternity</h5></div>
				<div class="date"> <h5>2009-2010</h5></div>
				<div class="info">
					<ul>
						<li>Coordinated a designated driver system to and from events, effectively protecting the safety of pledge brothers</li>
						<li>Planned security for events and had ultimate responsibility for safety at the Sigma Pi house</li>
					</ul>
				</div>
			</div>
	</div>
</div>