<footer class="footer">
  <small>
    By: Evan Sitzes
  </small>
  <nav>
    <ul>
      <li>Made with <%= link_to "Ruby on Rails",   "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" %>!</li>
    </ul>
  </nav>
</footer>