<nav class="external-links">
	<ul> <h4 class="underline">Sitzes related sites</h4>
		<a href="https://github.com/Sitzilla" target="_blank" class="list-group-item glyphicon glyphicon-chevron-right"> Github</a>
	  <a href="https://www.facebook.com/evan.sitzes" target="_blank" class="list-group-item glyphicon glyphicon-chevron-right"> Facebook</a>
	  <a href="http://omr-pinteresting-evan.herokuapp.com/" target="_blank" class="list-group-item glyphicon glyphicon-chevron-right"> Pinteresting</a>
	  <a href="https://sitzes-tweet.herokuapp.com/" target="_blank" class="list-group-item glyphicon glyphicon-chevron-right"> Sitzes-Tweet</a>
	  <a href="http://blog.rockcitykicks.com/" target="_blank" class="list-group-item glyphicon glyphicon-chevron-right"> RockCityKicks!</a>
	</ul>
<nav>	