<aside>
<ul class="list-group">
  <a href="https://github.com/" target="_blank" class="list-group-item">Github</a>
  <a href="https://facebook.com" target="_blank" class="list-group-item">Facebook</a>
   <a href="http://omr-pinteresting-evan.herokuapp.com/" target="_blank" class="list-group-item">Pinteresting</a>
  <a href="https://sitzes-tweet.herokuapp.com/" target="_blank" class="list-group-item">Sitzes-Tweet</a>
  <a href="http://blog.rockcitykicks.com/" target="_blank" class="list-group-item">Rock City Kicks</a>
</ul>
</aside>