	<table class="table table-striped">
				<thead>
			  <tr>
			  	<th>Ship Day</th>
			  	<th>Current Volume</th>
			  	<th>Target Volume</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
			  	<td>Monday</td>
			  	<td>23.0%</td>
			  	<td>20.0%</td>
			  </tr>
			  <tr>
			  	<td>Tuesday</td>
			  	<td>14.5%</td>
			  	<td>20.0%</td>
			  </tr>
			  <tr>
			  	<td>Wednesday</td>
			  	<td>15.5%</td>
			  	<td>20.0%</td>
			  </tr>
			  <tr>
			  	<td>Thursday</td>
			  	<td>23.0%</td>
			  	<td>20.0%</td>
			  </tr>
			  <tr>
			  	<td>Friday</td>
			  	<td>24%</td>
			  	<td>20.0%</td>
			  </tr>
			  </tbody>
			</table>